@mixin clearFix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/*
$breakpoint 
0-600px phone
600-900px tab-port
900-1200px tab-land
1200-1700 Normal
1800 Large desktop
*/
@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width:37.5em) // 600px

            {
            @content;
        }
    }

    @if $breakpoint==tab-port {
        @media (max-width:56.25em) //900px

            {
            @content;
        }
    }

    @if $breakpoint==tab-land {
        @media (max-width:75em) //1200px 

            {
            @content;
        }
    }

    @if $breakpoint==large-desktop {
        @media (max-width:112.5em) //1800px

            {
            @content;
        }
    }

}